* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Russo One", sans-serif;
    font-size: 16px;
    color: #1cba6b;
}

body {
    min-height: 100vh;
    background: rgb(23, 23, 23);
}

.header {
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background: rgb(23, 23, 23);
}

.menu {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.name {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 700;
}

.nav {
    display: flex;
    gap: 32px;
}

.nav a {
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 6px;
    transition: background 0.2s, color 0.2s;
}

.nav a:hover {
    background: #373a3f;
    color: #1cba6b;
}

/* ================================ main ================================ */

.main {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
}

.left_main p {
    font-size: 1.4rem;
    margin-bottom: 10px;
}


.left_main h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    background-clip: content-box;
    background: linear-gradient(45deg, #1cba6b 30%, #ffffff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left_main h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    background-clip: content-box;
    background: linear-gradient(45deg, #1cba6b 30%, #ffffff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-photo {
    min-width: 350px;
    min-height: 350px;
    background-size: 135%;
    background-position: center;
    border-radius: 50%;
    border: 1px solid rgb(0, 252, 67, 0.6);
    background-image: url('../image/tRD7lCyffcZFn9o6nvYgLZ1WWLeRycfc8Vl4RoesIp4wlCsS5AYyQuPjcC-Qg2CGA4j901G6.jpg');
    box-shadow: 15px -20px 50px 20px rgba(0, 252, 67, 0.8);
    animation: float 3s ease-in-out infinite;
}


@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


/* ============ about ============ */


.about_me {
    background: #081f0d;
    border-radius: 24px;
    box-shadow: 0 2px 12px rgba(52, 33, 194, 0.07);
    margin: 100px auto 0;
    padding: 32px 24px 24px 24px;
    max-width: 900px;
}

.about_me_title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 18px;
    color: white;
}

.about_me_text p, li, strong {
    color: #1cba6b;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about_me_text ul {
    margin: 10px 0;
    list-style: none;
}

/* ======= portfolio ======= */

.portfolio {
    margin: 30px auto 0;
    padding: 32px 24px 24px 24px;
    max-width: 900px;
}

.portfolio_title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.projects {
    display: flex;
    justify-content: space-between;
}

.prodject_frame {
    max-width: 270px;
    background: #081f0d;
    padding: 25px
}

.prodject_frame .title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 0px auto 18px;
    color: white;
}

.prodject_frame .descr {
    font-weight: 300;
    text-align: left;
    margin: 0px auto 18px;
}

/* ======= footer ======= */

.footer {
    /* position: fixed; */
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 100;
}

.footer-info {
    color: rgb(79, 79, 79);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}